header {
    background-color: whitesmoke;
    height: 70px;
    width: 100%;
}

.headerlist {
    font-size: 25px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    p  {
        margin-left: 60px;
        color: orange;
        font-family: 'Avenir Next',sans-serif;
    }
    ul {
        display: flex;
        justify-content: space-around;
        margin-right: 20px;
        list-style: none;

    }
    li {
        font-size: 15px;
        justify-content: space-between;
        height:30px;
        margin-right: 20px;
        padding-top: 10px;
        color:rgb(93, 201, 244);
    }
    .icon {
        padding-top: 5px;
        margin-right: 5px;
        color:rgb(93, 201, 244);
    }

}



.plane {
    color: black;
    font-size: 30px;
    height: 40px;
    margin-left: 2px;
    animation: plain 4s ease-in-out;
}
@keyframes plain {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        margin-left: 100%;
    }
}
img {
    height: 85vh;
    width: 102.1%;
    position: relative;
}
img:hover {
    opacity: 0.8;
}
h1 {
    position: absolute;
    margin: 300px 300px; 
    font-size: 50px;
}