/* navバー開始 */
.nav {
    padding-top: 15px;
}
.nav-item {
    color: rgb(110, 106, 106);
    padding: 10px 50px;
}
.nav-item:hover {
    color: peru;
}
/* navバーここまで */

/* main開始 */
main {
    background-color:whitesmoke;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.message_box {
    padding: 50px;
}
.card {
    text-align: center;
    margin-left: 130px;
}
.card-img-top {
    width: 50px;
    height: 50px;
    border-radius:  50%;
    margin-top: 10px;
}
.likes {
    float: left;
    color: rgba(255, 0, 0, 0.732);
    animation: likes 1s infinite;
}
@keyframes likes {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text {
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Marker Felt',sans-serif;
    border-bottom: solid 1px silver;
    text-align: center;
}
.ptagu {
    padding-top: 20px;
    line-height: normal;
    font-family: 'Lucida Grande',sans-serif;
}
.ptagu span {
    font-family: 'Marker Felt',sans-serif;
    border-bottom: solid 1px silver;
}
section {
    width: 100%;
    height: 320px;
    padding:10px;
    background-color: rgb(135, 177, 235);
    font-size: 40px;
    font-family: 'Lucida Grande',sans-serif;
}
/* main開始 */

/* flightここから */
.flight {
    text-align: center;
    border-bottom: solid 1px whitesmoke;
}
.container {
    background: #eee;
  }
  /* clearfix */
  .container:before,
  .container:after {
      content: "";
      display: table;
  }
  .container:after {
      clear: both;
  }
  
  .item {
    float: left;
    margin-left: 100px; 
    margin-top: 20px;
  }
  .item img {
    width: 200px;
    height: 200px;
    vertical-align: bottom;
  }
  .first-item {
    clear: both;
  }
  /* remove margin bottom on last row */
  .last-row, .last-row ~ .item {
    margin-bottom: 0;
  }